@import url(//db.onlinewebfonts.com/c/f4c9951744c0ef14010218fc1b2f7938?family=Larsseit);

html body {
  background-color: black;
}

a {
  text-decoration: none;
  color: transparent;
}

div .navbar-brand {
  font-size: 25px;
}

.top-size-font-blog {
  font-size: 2.5rem;
  line-height: 4.8rem;
  color: rgb(255, 255, 255);
  font-family: "Larsseit-Bold", sans-serif;
  font-weight: 600;
}

.blog-content {
  margin-top: 3rem;
}

.blog-para {
  font-size: 1.4rem;
  line-height: 2.9rem;
  color: rgba(255, 255, 255, 0.55);
  font-family: "Larsseit-Bold", sans-serif;
  font-weight: 400;
}

/* For mobile phones */
@media (max-width: 575px) {
}
