@import url(//db.onlinewebfonts.com/c/f4c9951744c0ef14010218fc1b2f7938?family=Larsseit);

html body {
  background-color: black;
}

a {
  text-decoration: none;
  color: transparent;
}

div .navbar-brand {
  font-size: 25px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  padding-left: 35px;
  padding-top: 16px;
}

.social-container {
  padding-top: 1.2rem;
  padding-left: 0px;
  display: flex;
  list-style: none;
}

.social-icons {
  fill: grey;
}

.social-icons:hover {
  cursor: pointer;
  fill: white;
}

.hero-intro {
  padding-top: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.hero-intro h1 {
  font-size: 4rem;
  line-height: 5.778rem;
  color: rgb(255, 255, 255);
  font-family: "Larsseit-Bold", sans-serif;
  font-weight: 600;
}

.hero-about-me {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.hero-about-me .text {
  font-size: 1.11rem;
  line-height: 1.77rem;
  color: rgba(255, 255, 255, 0.55);
  font-family: "Larsseit-Bold", sans-serif;
  font-weight: 500;
}

.hero-about-me .skills .skill-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.hero-about-me .skills .skill-card .card-body {
  padding-top: 1.4rem;
}

.hero-about-me .skills .skill-card .card-title {
  font-size: 2rem;
  line-height: 1.77rem;
  color: black;
  font-family: "Larsseit-Bold", sans-serif;
  font-weight: 600;
}

.hero-about-me .skills .skill-card img {
  width: 40px;
  height: 40px;
  padding-top: 6px;
}

.hero-my-projects {
  margin-top: 6rem;
}

.hero-my-projects .project-row .project-col {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.hero-my-projects .project-row .project-col p {
  font-size: 1.11rem;
  line-height: 1.778rem;
  color: rgba(255, 255, 255, 0.55);
  font-family: "Larsseit-Bold", sans-serif;
  font-weight: 400;
}

.hero-my-projects .project-row .project-col h5 {
  font-size: 2rem;
  /* line-height: 3.778rem; */
  color: rgb(255, 255, 255);
  font-family: "Larsseit-Bold", sans-serif;
  font-weight: 400;
}

.hero-my-projects .project-row .project-col .project-cards {
  background: #1f2833;
}

.top-size-font {
  font-size: 3rem;
  line-height: 5.778rem;
  color: rgb(255, 255, 255);
  font-family: "Larsseit-Bold", sans-serif;
  font-weight: 600;
}

/* For mobile phones */
@media (max-width: 575px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding-left: 0px;
  }

  .hero-intro h1 {
    font-size: 2rem;
    line-height: 4rem;
  }

  .hero-my-projects .project-row .project-col {
    /* margin-left: 0.5rem; */
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
